// dark shades
$dark-black:#222;
$brown:#333;
$white:#fff;
$off-white:#aaa;
$dark-white:#ddd;
$blue:#408bbd;

$themes:(
    light:(
       backgroundColor:$white,
       textColor:$blue,
       buttonTextColor:$blue,
       buttonBackgroundColor:$white,
       buttonBorderColor:$blue,
       headerColor:$blue,
       boxBackgroundColor:$blue,
       boxTextColor:$white
     ),
    dark:(
        backgroundColor:$dark-black,
        textColor:$white,
        buttonTextColor:$white,
        buttonBackgroundColor:$brown,
        buttonBorderColor:$brown,
        headerColor:$brown,
        boxBackgroundColor:$brown,
        boxTextColor:$dark-white
    )
)

