@import "./brain.scss";

@mixin theme($name) {
  $theme: map-get($themes, $name) !global;
}

@mixin TextColor($name) {
  @include theme($name);
  color: map-get($theme, textColor);
}

@mixin ButtonTheme($name) {
  @include theme($name);
  color: map-get($theme, textColor);
  background: map-get($theme, buttonBackgroundColor);
  border: 1px solid map-get($theme, buttonBorderColor);
}

@mixin BackgroundcolorTheme($name) {
  @include theme($name);
  background: map-get($theme, boxBackgroundColor);
  color: map-get($theme, boxTextColor);
}

@mixin BodyBackgroundcolor($name) {
  @include theme($name);
  background: map-get($theme, backgroundColor);
}

.container {
  text-align: center;
}

@mixin applyTheme($name) {
    @include BodyBackgroundcolor($name);
    h1 {
        font-size: 30px;
        line-height: 35px;
        @include TextColor($name);
    }
    .box {
        width: 100px;
        height: 100px;
        @include BackgroundcolorTheme($name);
        padding: 20px;
        margin: 10px auto;
    }
    .button {
        font-size: 15px;
        font-weight: bold;
        @include ButtonTheme($name);
        padding: 10px 20px;
    }
}

.theme-light {
    @include applyTheme(light);
}
.theme-dark {
    @include applyTheme(dark);
}

// .theme-light {
//   @include BodyBackgroundcolor(light);
//   h1 {
//     font-size: 30px;
//     line-height: 35px;
//     @include TextColor(light);
//   }
//   .box {
//     width: 100px;
//     height: 100px;
//     @include BackgroundcolorTheme(light);
//     padding: 20px;
//     margin: 10px auto;
//   }
//   .button {
//     font-size: 15px;
//     font-weight: bold;
//     @include ButtonTheme(light);
//     padding: 10px 20px;
//   }
// }
// .theme-dark {
//   @include BodyBackgroundcolor(dark);
//   h1 {
//     font-size: 30px;
//     line-height: 35px;
//     @include TextColor(dark);
//   }
//   .box {
//     width: 100px;
//     height: 100px;
//     @include BackgroundcolorTheme(dark);
//     padding: 20px;
//     margin: 10px auto;
//   }
//   .button {
//     font-size: 15px;
//     font-weight: bold;
//     @include ButtonTheme(dark);
//     padding: 10px 20px;
//   }
// }