<div class="container" [ngClass]="{'theme-light': theme , 'theme-dark' : !theme}">
  <h1>TEST</h1>
  <div class="box">
    <p>Good Morning</p>
  </div>
<button class="button" (click)="changeTheme()">Toggle</button>
</div>